get("/") do
  "
	
  <ul>
    <li><a href=\"/dice/2/6\"> Play Rock </a></li>
    <li><a href=\"/dice/2/10\"> Play Paper </a></li>
    <li><a href=\"/dice/1/20\"> Play Sicssors </a></li>
  </ul>
  "
end
